.HealthcareProvider-Home {
  width: 100vw;
  padding-left: 190px;
  padding-right: 163px;
  display: flex;
}
.HealthcareProvider-Image {
  margin-top: 221px;
  width: 450px;
  margin-right: 142px;
}
.HealthcareProvider {
  width: 427px;
  margin-top: 278px;
}
.HealthcareProvider-Heading {
  font-weight: 700;
  font-size: 36px;
  color: #000000;
  margin-bottom: 59px;
}
.HealthcareProvider-description {
  font-weight: 300;
  font-size: 18px;
  color: #7d7987;
  margin-bottom: 37px;
}
.learn {
  height: 60px;
  font-weight: 700;
  font-size: 18px;
  color: #458ff6;
  background-color: white;
  border: 1.4px solid #458ff6;
  border-radius: 55px;
  padding-left: 40px;
  padding-right: 40px;
}
.learn:hover {
  text-decoration: underline;
  cursor: pointer;
}
