.CustomerView-Page {
  padding-left: 200px;
  padding-right: 200px;
  margin-bottom: 284px;
}
.CustomerView-Home {
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 24px;
  padding-top: 64px;
  padding-bottom: 89px;
}
.Customerheading {
  display: flex;
  justify-content: center;
}
.CustomerView-Heading {
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
}
.Person-Data {
  display: flex;
}
.person-image {
  margin: 93px 29px 0px 90px;
  width: 141px;
  height: 141px;
  border-radius: 50%;
}
.person-detail {
  display: flex;
  flex-direction: column;
  margin-top: 124px;
  width: 184px;
}
.CustomerPoint-view {
  margin-right: 90px;
  margin-left: 30px;
  margin-top: 104px;
  font-weight: 400;
  font-size: 19px;
  color: rgba(255, 255, 255, 0.9);
  width: 420px;
}
.Person-name {
  width: 180px;
  font-weight: 700;
  font-size: 22px;
  color: #ffffff;
}
.Person-profile {
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
}
